
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", serif;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .app-container {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 5px;
  }

  .app-container {
    padding: 0;
  }

}

.app-container {
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 10px;
  flex-wrap: wrap;
  width:100%
}

.card{
  padding:50px;
  width:60vh;
  height:100vh;
}

.bg-section {
  background-color: #D6FFD8;
  height:100v;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.row.align-items-stretch {
  height: 100%;
  min-height: 100vh;
}

.custom-btn{
  width: 100%;
  background-color: #02420e;
  color:white;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 18px; 
  font-weight: 400;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.custom-btn:hover{
  background-color: #137325;
}

.text{
  margin-bottom:50px;
  padding:5px;

}

.form-label{
  font-weight: 600;
  padding:5px;
  
}

.img{
  max-height: fit-content;
  max-width: fit-content;
  margin-top:50px;
}

.grecaptcha-badge {
  width: 500px;
  max-width: 300px; 
  margin: 0 auto;
  margin-bottom: 15px;
}


